#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

main{

	display: block;
	text-align: center;
}

nav {
	background-color: gray;
  padding-top: 10px;
  padding-right: 60px;
  padding-left: 60px;
  border: 1px solid black;
  position: relative;
  height: 50px;
}

nav a::after{

content: " |";
color: black;

}


nav a{

color: blue;

}

nav>img {
	width: 32px;
	height: 32px;
	position: absolute;
	left: 10px;
	margin-top: auto;
	margin-bottom: auto;
	border-radius: 36px;
	border: 1px solid black;
}

.rect{
	border: 10px green dotted;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	position: absolute;
	width: 600px;
	height: 300px;
}

.cat, .dog{
	width: 200px;
	height: 200px;
	position: relative;
}

.cat{
left: 100px;
top: 100px;

}

